/* --------------------------------------- */
/* FIX 1: Control tag size cleanly         */
/* --------------------------------------- */

.vgt-tag img {
  width: 140px;       /* adjust smaller/larger if needed */
  height: auto;
}


/* --------------------------------------- */
/* FIX 2: Remove the white click outline   */
/* --------------------------------------- */

.vgt-tag:focus,
.vgt-tag:active {
  outline: none !important;
  box-shadow: none !important;
}


/* --------------------------------------- */
/* FIX 3: Spread out tag positions         */
/* (These are NEW clean positions)         */
/* --------------------------------------- */

.vgt-tag-layer {
  position: absolute;
  top: 0;
  left: 0;
}

/* Pink ($$$ custom) */
.vgt-tag[data-id="give-heart"] {
  top: 14%;
  left: 37%;
}

/* Blue ($30) */
.vgt-tag[data-id="gift-30"] {
  top: 28%;
  left: 32%;
}

/* Red ($60) */
.vgt-tag[data-id="gift-60"] {
  top: 40%;
  left: 45%;
}

/* Orange ($90) */
.vgt-tag[data-id="gift-90"] {
  top: 33%;
  left: 57%;
}

/* Green ($150) */
.vgt-tag[data-id="gift-150"] {
  top: 48%;
  left: 52%;
}

/* Purple ($300) - stays in best spot */
.vgt-tag[data-id="gift-300"] {
  top: 58%;
  left: 40%;
}
